#	ignore user_congif
**/user_config

#	ignore simlinks
Source/union-miyoomini-toolchain/workspace/retrodex/res
Source/window_dev/res

#	ignore build files
**/build
**/Debug
**/.vs
**/x64
**/out
**/.build
**.build
**SDL2**
!**/mksdl2**
**.sln
**.vcxproj
**.vcxproj.**
**.user
**/packages
#**packages.config
#**/gtest
#**/src
**libSDL2**
!**/App/Retrodex/lib/libSDL2**
**/logs

#ignore gifs/webm untill ready
**.gif

#ignore Jenkinsfile untill ready. Or stick with GitActions? 
Jenkinsfile

#ignore Windows dev env. 
**window_dev/
