App/Retrodex/sqlite/* linguist-detectable=false
Source/union-miyoomini-toolchain/workspace/retrodex/sqlite/* linguist-detectable=false
Source/union-miyoomini-toolchain/workspace/retrodex/include/sqlite/* linguist-detectable=false