#	ignore user_congif
**/user_config

#	ignore build files
**/build
**/Debug
**/.vs
**/x64
**/out
**/.build
**.build
**SDL2**
!**/mksdl2**
**.sln
**.vcxproj
**.vcxproj.**
**.user
**/packages
#**packages.config
#**/gtest
#**/src
**libSDL2**
!**/App/Retrodex/lib/libSDL2**
**/logs

#ignore gifs/webm untill ready
**.gif