#	ignore user_congif
**/user_config

#	ignore simlinks
Source/union-miyoomini-toolchain/workspace/retrodex/res
Source/window_dev/res

#	ignore build files
**/build
**/Debug
**/.vs
**/x64
**/out
**/.build
**.build
**SDL2**
!**/mksdl2**
**.sln
**.vcxproj
**.vcxproj.**
**.user
**/packages
#**packages.config
#**/gtest
#**/src
**libSDL2**
!**/App/Retrodex/lib/libSDL2**
**/logs

#ignore gifs/webm untill ready
**.gif

#Jenkinsfile, untill ready. Or stick with GitActions? 
Jenkinsfile

#Windows dev environment. 
Source/window_dev

#gtest unittest, untill ready. 
Source/union-miyoomini-toolchain/workspace/retrodex/unittest

# Amalgamtion build folder
sqlite/

# Move build config files to retrodex workspace to use but dont push
# For edits to build config edit target/<target>/<build_config_files>
Source/union-miyoomini-toolchain/workspace/retrodex/CMakeLists.txt
Source/union-miyoomini-toolchain/workspace/retrodex/Makefile
Source/union-miyoomini-toolchain/workspace/retrodex/ToolChain.cmake

